
.apprenticeCard, .mentorCard {
  border: 2px solid #0e8f7a;
  border-radius: 18px;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}


.mentorCard__header,
.apprenticeCard__header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.main-title {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #2c3e50;
}


.mentorCard__avatar,
.apprenticeCard__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.apprenticeCard__img,
.mentorCard__img {
  border: 3px solid #0e8f7a;
  flex-shrink: 0;
}

.mentorCard__img,
.apprenticeCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mentorCard__title,
.apprenticeCard__title {
  font-weight: 800;
  font-size: 2rem;   
  margin: 0;
  color: #2c3e50;
}


.mentorCard__content,
.apprenticeCard__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.mentorCard__boxes,
.apprenticeCard__boxes {
  display: flex;
  gap: 8px;
}


.mentorCard__labels,
.apprenticeCard__labels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  line-height: 1.5;
  font-size: 21px;
  line-height: 1.8;
}

.mentorCard__labels strong,
.apprenticeCard__labels strong {
  color: #000000;
  margin-left: 10px;
  display: inline-block;
  font-size: 23px;
}

.cards-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .apprenticeCard__header {
    gap: 12px;
  }

  .apprenticeCard__title {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
  }
}
